.arkaplan{
    height: 100%;
    width: 100%;
    background-color: rgb(247, 187, 119);
    text-align: center;
}

.baslikdiv{
    background-image: url(japonya.jpg);
    height: 150px;
}
h1{
    color: white;
    
}

.ustbosluk{
   height: 10px;
   padding: 5px;
   background-color: rgb(234, 240, 155);
}

span{
    font-size: 20px;
    background-color: beige;
}

img{
    height: 200px;
    width: 200px;
    
}

.ortares{
    height: 200px;
    width:50%;
    float: left;
    background-color:rgb(247, 187, 119); ;
}

.ortayazi{
    height: 200px;
    float: left;
    width: 50%;
    background-color: rgb(247, 187, 119);;
}

.video{
    text-align: center;
    background-color:rgb(247, 187, 119); 
   
}

.tablo{
    height: 330px;  
    background-color:rgb(247, 187, 119);

}
table{
    margin-left:auto; 
    margin-right:auto;
    width: 320px;
    background-color: black;
    color: yellow;
    
}

th{
    
    height: 80px;
}

td{
    height: 80px;
}

.idiv{
    background-color: rgb(55, 143, 143);
    width: 500px;
    height: fit-content;
    text-align: center;
}